# Database (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/hassaniya_dev

# HuggingFace
HUGGINGFACE_TOKEN=hf_your_token_here
HUGGINGFACE_REPO=ahmed200512/hassanie_claude-translation
HUGGINGFACE_MONO_REPO=ahmed200512/hassanie_claude-mono
HUGGINGFACE_QA_REPO=ahmed200512/hassanie_claude-qa

# App
NODE_ENV=development
